name: Full Release (manual)
on:
  workflow_dispatch:
    inputs:
      java-debug-version:
        required: true
        description: 'Next version of java-debug-core (https://repo1.maven.org/maven2/ch/epfl/scala/com-microsoft-java-debug-core/)'
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:  
          submodules: true
      - uses: coursier/setup-action@v1.3.3
        with:
          apps: sbt
          jvm: 'adopt:1.8.0-292'
      - run: sbt ci-release
        env:
          JAVA_DEBUG_VERSION: ${{ inputs.java-debug-version }}
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
